{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            
            <label for="password" class="sr-only">Reset Password</label>
            <input type="password" name="password" class="form-control" placeholder="password" required="">
            
            <div class="form-group">
               <button class="btn btn-outline-info" type="submit">Reset Password</button>
           </div>
       </form>
   </div>
{% endblock content %}